html{
/*	scroll-behavior: smooth;*/
}

body{
	overflow-x: hidden;
}

.relative{
	position: relative;
	width:100%;
	height:100vh;
	background-size: 100%;
}

.absolute{
	position: absolute;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-size:100%;
}

header{
	position: absolute;
	z-index: 2;
	opacity:0.6;
	width:1046px;
	max-width: 100%;
	font-family: 'Patrick Hand', cursive;
	left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
	margin-top: 10px;
}

ul{
	float: right;
}

li{
	float: left;
	width: 150px;
	text-align: right;

	margin-top: 45px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

li a{
	font-size: 26px;
	color:#f2db52;
	text-decoration: none;
}

a:hover{
    border-bottom: 2px solid #f2db52;
}

.logo{
	width:205px;
	float: left;
	padding:10px 30px 10px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* CITY */

.skyline{
	position: relative;
	width:100%;
	height:100vh;
	background:url("../img/bg.png");
	background-position: center;
	background-attachment: fixed;
}

.sun{
	background:url("../img/zon.png");
	background-position: center;
	background-repeat: no-repeat;
}

.city{
	background:url("../img/city.png");
	background-size: 100%;
	background-position: center bottom -2vh;
	background-repeat:no-repeat;
}

.bird1{
	background:url("../img/bird1.png");
	background-position: center;
	background-size: 100%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-name: float;
    animation-name: float;
	background-repeat: no-repeat;
}

.bird2{
	background:url("../img/bird2.png");
	background-position: center;
	background-size: 100%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: float3;
    animation-name: float3;
	background-repeat: no-repeat;
}

.bird3{
	background:url("../img/bird3.png");
	background-position: center;
	background-size: 100%;
    -webkit-animation-name: float;
    animation-name: float;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    animation-name: float;
	background-repeat: no-repeat;
}

.bird4{
	background:url("../img/bird4.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-name: float3;
    animation-name: float3;
}

.bird5{
	background:url("../img/bird5.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-name: float3;
    animation-name: float3;
}

.balloon1{
	background:url("../img/balloon1.png");
	background-position: center -20vh;
	background-repeat: no-repeat;
    overflow-x: hidden;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-name: float2;
    animation-name: float2;
	background-size: 100%;
}

.balloon2{
	background:url("../img/balloon2.png");
	background-position: center -20vh;
	background-size: 100%;
	background-repeat: no-repeat;
    overflow-x: hidden;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-name: float2;
    animation-name: float2;
}

.hills{
	background:url("../img/hillst.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-top:220px;
	background-repeat: no-repeat;
}

.trees{
	background:url("../img/trees.png");
	background-size:100%;
	background-position: bottom center;
	margin-top:180px;
	background-repeat: no-repeat;
	z-index: 2;
}

/* FOREST */

.forest{
	background:url("../img/green_hillst.png");
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height:110vh;
}

.green_hills{
	background:url("../img/green_hillst.png");
	margin-top: 7vh;
	z-index: 2;
}

.about{
	position: absolute;
  left: 50%;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	width:1024px;
}

h1{
	font-size: 56px;
	color: white;
	font-family: 'Patrick Hand', cursive;
	z-index: 20;
	text-align: center;
	width:100%;
}

p{
	font-family: sans-serif;
	color:white;
	margin-top: 30px;
	z-index: 20;
	width:100%;
	text-align: center;
	line-height: 2.6;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

/* MOUNTAINS */

.mountains_section{
	background:url("../img/mountainair.png");
	height:120vh;
}

.mountains{
	background:url("../img/mountains.png");
	background-position: center bottom -30vh;
	height: 120vh;
	background-repeat: no-repeat;
	background-size: 100%;
}

.clouds{
	background:url("../img/clouds.png");
	background-size: 100%;
}

.walkers{
	background:url("../img/walkers.png");
	background-position: top;
	margin-top: -65vh;
	background-size: 100%;
}

/* ANIMATIONS */

.animate{
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    }

@-webkit-keyframes float {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(10px); transform: translateY(10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@keyframes float {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(10px); transform: translateY(10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@-webkit-keyframes float2 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
    50%{ -webkit-transform: translateY(15px); transform: translateY(15px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
}
@keyframes float2 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
    50%{ -webkit-transform: translateY(15px); transform: translateY(15px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
}
@-webkit-keyframes float3 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@keyframes float3 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
