html{
/*	scroll-behavior: smooth;*/
}

body{
	overflow-x: hidden;
    cursor: url(../img/cursor.png), auto !important;
}

.loader{
	height:100vh;
	width:100vw;
	position: fixed;
	z-index:10000;
	transition: .5s;
}

.hide_loader{
	opacity:0;
}

.loader img{
	width:20%;
	position:absolute;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.load{
	display:none;
}

a, input{
/*    cursor: url(../img/pointer.png), auto !important;*/
    cursor: url(../img/cursor.png), auto !important;
}

.relative{
	position: relative;
	width:100%;
	height:100vh;
	background-size: 100%;
}

.absolute{
	position: absolute;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-size:100%;
}

header{
    width: 1046px;
	max-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	margin-top: 10px;
	position: absolute;
	z-index: 2;
	opacity: 0.6;
}

ul{
	width:100%;
}

ul li{
	float: left;
	width:205px;
	text-align: center;

	margin-top: 40px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul li a{
	color:#f2db52;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
	text-decoration: none;
    margin: 0;
    padding: 2px 0;
}

ul li a:hover{
    border-bottom: 2px solid #f2db52;
}

.logo{
	width:205px;
	float: left;
	padding:10px 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 1%;
}


/* City */

.skyline{
	position: relative;
	width:100%;
	height:100vh;
	background:url("../img/bg.png");
	background-position: center;
	background-attachment: fixed;
    z-index: -15;
}

.sun{
	background:url("../img/zon.png");
	background-position: center;
	background-repeat: no-repeat;
    z-index: -10;
}

.city{
	background:url("../img/city.png");
	background-size: 100%;
	background-position: center bottom -2vh;
	background-repeat:no-repeat;
}

.bird1{
	background:url("../img/bird1.png");
	background-position: center -10vh;
	background-size: 100%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-name: float;
    animation-name: float;
	background-repeat: no-repeat;
}

.bird2{
	background:url("../img/bird2.png");
	background-position: center;
	background-size: 100%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: float3;
    animation-name: float3;
	background-repeat: no-repeat;
}

.bird3{
	background:url("../img/bird3.png");
	background-position: center;
	background-size: 100%;
    -webkit-animation-name: float;
    animation-name: float;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    animation-name: float;
	background-repeat: no-repeat;
}

.bird4{
	background:url("../img/bird4.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-name: float3;
    animation-name: float3;
}

.bird5{
	background:url("../img/bird5.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-name: float3;
    animation-name: float3;
}

.balloon1{
	background:url("../img/balloon1.png");
	background-position: center -20vh;
	background-repeat: no-repeat;
    overflow-x: hidden;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-name: float2;
    animation-name: float2;
	background-size: 100%;
}

.balloon2{
	background:url("../img/balloon2.png");
	background-position: center -20vh;
	background-size: 100%;
	background-repeat: no-repeat;
    overflow-x: hidden;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-name: float2;
    animation-name: float2;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.hills{
	background:url("../img/hillst.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-top:220px;
	background-repeat: no-repeat;
}

.trees{
	background:url("../img/trees.png");
	background-size:100%;
	background-position: bottom center;
	margin-top:180px;
	background-repeat: no-repeat;
	z-index: 2;
}


/* Forest */

.forest{
	background:url("../img/green_hillst.png");
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height:110vh;
}

.green_hills{
	background:url("../img/green_hillst.png");
	margin-top: 7vh;
	z-index: 2;
}

.about{
    width:1024px;
	position: absolute;
    left: 50%;
    top: 53%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	text-align: center;
}

article{
    z-index: 100;
}

h1{
	font-size: 36px;
	color: white;
	font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
	z-index: 20;
	text-align: center;
	width:100%;
}

p{
	width:80%;
    margin: 30px 10% 0 10%;
    z-index: 20;
    color:white;
	line-height: 1.8;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.about a{
	border: 2px solid #fff;
}

.about a:hover{
	border: 2px solid #333;
	color:#333;
}

.calltoaction{
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    display: inline-block;
    padding: 4px 0;
    margin: 50px 0 0 0;
    display: inline-block;
    border: 2px solid #fff;
    padding:10px 20px;
    border-radius: 3px;
}

.calltoaction:hover{
	border: 2px solid #f2db52 !important;
	color: #f2db52 !important;
}

.a-spacing{
    margin: 50px 50px 0 0 !important;
}


/* ACTIVITY */

.mountains_section{
	background:url("../img/woods_sun.png");
	height:150vh;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.scene3_trees{
	background:url("../img/scene3_trees.png");
	background-size: 100%;
	background-position: bottom;
	height:100%;
}

.activity{
	width: 60%;
	margin: 175px 20% 0 20%;
}

.activity h1, .activity p, .activity a{
	color:#fff;
}

.underline{
	text-decoration: underline;
}

.sun2{
	background:url("../img/woods_sun.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
}

.walkers{
	margin-top:-300px;
	background:url("../img/walkers.png");
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}

.walkers .join_sec{
	position: absolute;
	top: 42%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 60%;
	margin: 175px 20% 0 20%;
}

.join_text, .join{
	width: 50%;
	float:left;
}

.join{
	margin-top:50px;
}

form{
	margin-top:20px;
}

form input{
  width:200px;
  background: rgba(255,255,255,0.2);
	border-radius: 3px;
	border: none;
	padding: 10px;
	margin-top:10px;
  color: #fff;
  outline: none;
}

/* Merch */

.merch{
	width:100%;
	height:100vh;
	background-image:url("../img/merch.png");
}

.merch_sec{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 60%;
	margin: 0 20% 0 20%;
}

.merch_text, .merch_img{
	width:50%;
	float: left;
	text-align: center;
}

.merch p{
	color:#333 !important;
	width:50%;
	margin:0 25%;
	margin-top:50px;
}

.merch a{
	color:#333 !important;
	border:2px #333 solid;
}

.merch_img img{
	width:60%;
}

footer{
    background-color: #ccc;
	background-image:url("../img/footer.png");
	background-size: cover;
	background-position: top center;
	float:left;
	width:100%;
	height:60px;
    padding-top: 3px;
}

footer img:first-child{
	margin-left:100px;
}

footer img{
	float:left;
	width:30px;
	margin:15px;
}

footer p{
	float:right;
	color: #f2db52;
	width:auto;
	margin:10px 100px;
}

/* SCROLL UP */

.arrow{
	position: fixed;
	z-index: 5;
	width:50px;
	bottom:30px;
	right:30px;
}

.arrow_link{
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
}

.scrolled{
	opacity: 1;
}


/* ANIMATIONS */

.animate{
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  z-index: -5;
}

@-webkit-keyframes float {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(10px); transform: translateY(10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@keyframes float {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(10px); transform: translateY(10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@-webkit-keyframes float2 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
    50%{ -webkit-transform: translateY(15px); transform: translateY(15px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
}
@keyframes float2 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
    50%{ -webkit-transform: translateY(15px); transform: translateY(15px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px) }
}
@-webkit-keyframes float3 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@keyframes float3 {
    0%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    50%{ -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    100%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}


/* MEDIAQUERIES*/

@media screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }

	nav li, .logo{
		width:19.6%;
	}

	.skyline{
		background-size: cover;
		background-repeat: no-repeat;
	}

	.city{
		background-size: cover;
	}

	.hills{
		margin-top:200px;
	}

	.bird1, .bird2, .bird3, .bird4, .bird5{
		background-size: cover;
		padding-left:50vw;
	}

	.balloon1, .balloon2{
		background-position: center 15vh;
	}

	.forest{
		background-size: cover;
		height:70vh;
	}

	.about{
		width:80%;
	}

	.trees{
		margin-top:80px;
	}

	.mountains_section{
		height:100vh;
	}

	.scene3_trees{
		background-size: cover;
	}

	.walkers{
		margin-top: -105px;
	}

	.walkers .join_sec, .merch_sec{
		width:80%;
		margin: 175px 10% 0 10%;
	}

	.join {
    margin-top: 130px;
	}

	.merch_sec{
		margin-top:0;
	}

	.merch_img{
		margin-top:100px;
	}
	.merch{
		background-size: cover;
	}
}

@media screen and (max-width: 767px) {
	ul{
		margin-top:40px;
	}

	ul li{
		width:25%;
	}

	.logo{
		position: absolute;
		width:150px;
		text-align: center;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-top:-40px;
	}

	.hills{
		margin-top: 175px;
	}

	.forest{
		height:100vh;
	}

	.about{
		width:90%;
	}

	.activity{
		width:100%;
		margin: 0;
		margin-top:60px;
	}
	p{
		width:90%;
		margin:30px 5% 0 5%;
	}
	.trees, .join_text, .merch_img, footer p{
		display:none;
	}

	.join, .merch_text{
		width:100%;
		margin-top:0;
	}

	.merch p{
		margin-top:0;
	}

	.walkers, .merch{
		height:65vh;
	}

	.walkers .join_sec{
		margin: 60px 10% 0 10%;
	}

	footer img:first-child{
		margin-left:160px;
	}
}
