html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

.relative{
	position: relative;
	width:100%;
	height:100vh;
	background-size: 100%;
}

.absolute{
	position: absolute;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-size:100%;
}

header{
	position: absolute;
	z-index: 2;
	opacity:0.6;
	width:1046px;
	max-width: 100%;
	font-family: 'Patrick Hand', cursive;
	left: 50%;
  transform: translateX(-50%);
	margin-top: 10px;
}
a:hover{
    border-bottom: 2px solid #f2db52;
}



ul{
	width:100%;
}

li{
	float: left;
	width:205px;
	text-align: center;

	margin-top: 40px;
	text-transform: uppercase;
	box-sizing: border-box;
}

li a{
	font-size: 26px;
	color:#f2db52;
	text-decoration: none;
}

.logo{
	width:205px;
	float: left;
	padding:10px 30px;
	box-sizing: border-box;
	margin:0 1%;
}

/* City */

.skyline{
	position: relative;
	width:100%;
	height:100vh;
	background:url("../img/bg.png");
	background-position: center;
	background-attachment: fixed;
}

.sun{
	background:url("../img/zon.png");
	background-position: center;
	background-repeat: no-repeat;
}

.city{
	background:url("../img/city.png");
	background-size: 100%;
	background-position: center bottom -2vh;
	background-repeat:no-repeat;
}

.bird1{
	background:url("../img/bird1.png");
	background-position: center;
	background-size: 100%;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: float;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float;
	background-repeat: no-repeat;
}

.bird2{
	background:url("../img/bird2.png");
	background-position: center;
	background-size: 100%;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float;
	background-repeat: no-repeat;
}

.bird3{
	background:url("../img/bird3.png");
	background-position: center;
	background-size: 100%;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float;
  animation-duration: 12s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float;
	background-repeat: no-repeat;

}

.bird4{
	background:url("../img/bird4.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
  animation-duration: 13s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float2;

}

.bird5{
	background:url("../img/bird5.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float;

}

.balloon1{
	background:url("../img/balloon1.png");
	background-position: center;
	background-repeat: no-repeat;
  overflow-x: hidden;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float3;
	background-size: 100%;
}

.balloon2{
	background:url("../img/balloon2.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
  overflow-x: hidden;
  animation-duration: 18s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: float3;
}

.hills{
	background:url("../img/hillst.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-top:220px;
	background-repeat: no-repeat;
}

.trees{
	background:url("../img/trees.png");
	background-size:100%;
	background-position: bottom center;
	margin-top:180px;
	background-repeat: no-repeat;
	z-index: 2;
}

/* Forest */

.forest{
	background:url("../img/green_hillst.png");
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height:110vh;
}

.green_hills{
	background:url("../img/green_hillst.png");
	margin-top: 7vh;
	z-index: 2;
}

.about{
	position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
	width:1024px;
}

h1{
	font-size: 56px;
	color: white;
	font-family: 'Patrick Hand', cursive;
	z-index: 20;
	text-align: center;
	width:100%;
}

p{
	font-family: sans-serif;
	color:white;
	margin-top: 30px;
	z-index: 20;
	width:100%;
	text-align: center;
	line-height: 2.6;
	font-family: 'Lato', sans-serif;
	font-size: 20px;

}

.mountains_section{
	background:url("../img/mountainair.png");
	height:120vh;
}

.mountains{
	background:url("../img/mountains.png");
	background-position: center bottom -15vh;
	height:120vh;
	background-repeat: no-repeat;
	background-size: 100%;
}

.clouds{
	background:url("../img/clouds.png");
	background-size: 100%;
}

.walkers{
	background:url("../img/walkers.png");
	background-position: top;
	margin-top: -70vh;
	background-size: 100%;
}

@keyframes float {
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(10px)  rotate(8deg);
    }
    100%{
        transform: translateY(0px)  rotate(0deg);
    }
}

@keyframes float2 {
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(12px)  rotate(-10deg);
    }
    100%{
        transform: translateY(0px)  rotate(0deg);
    }
}
@keyframes float3 {
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(-2px)  rotate(-4deg);
    }
    100%{
        transform: translateY(0px)  rotate(0deg);
    }
}
