body{
	background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
	}

header{
    width: 80%;
    padding: 30px 10%;
    position: fixed;
    top; 0;
    background: #000;
    z-index: 5;
    }

header img{
    height: 50px;
    }

header a{
    color: #fff;
    text-decoration: none;
    margin: 20px 0 0 0;
    }

header a:hover{
    text-decoration: underline;
    }

main{
	width: 80%;
	margin: 0px 10%;
    padding: 150px 0 0 0;
	}

main section, .grid-sizer{
    width: 40%;
    margin: 20px 5%;
    float: left;
    position: relative;
    }

.grid-sizer{
	display: none;
	}

main section img{
    width: 100%;
    }

main section .button{
    width: 60%;
    margin: 20px 20% 0 20%;
    padding: 10px 0;
    background: #000;
    display: block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
    }

main section .button:hover{
    background: #222;
    }
#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
}


@media screen and (max-width: 800px){
    main section .button{
        font-size: 12px;
        width: 100%;
        margin: 20px 0 0 0;
        }
    #flex{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:center;
}
}


/*
#gallery,
.grid {
	width: 100%;
	}

{
	width: calc(25% - 7.5px);
	margin-bottom: 10px;
	}

.grid-sizer{
	display: none;
	}

.grid-item{
	float: left;
	position: relative;
	}
	
.grid-item img{
	float: left;
	}

.grid img{
	width: 100%;
	}

.hidden{
	display: none;
	}

@media screen and (max-width: 1000px){

.grid {
	width: calc(50% - 5px);
	}

.grid-sizer,
.grid-item{
	width: calc(50% - 5px);
	}
	
}*/
